<!DOCTYPE html>
<html ng-app="ShoppingListApp">

<head>
    <title>Shopping list</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"></link>

</head>

<body ng-controller="ListController">
    <h1 class="py-4">Angular shopping list</h1>
    <hr>

    <h3 class="py-4">My shopping list</h3>
    <table class="mb-4">
        <tr ng-repeat="item in list">
            <td>{{$index + 1}}</td>
            <td>{{item}}</td>
            <td>
                <button class="btn btn-danger" ng-click="remove(item)">X</button>
            </td>
        </tr>
    </table>
    <hr>

    <input type="text" class="mt-2" ng-model="newItem">
    <button class="btn btn-success" ng-click="addItem(newItem)"><span class="fw-bolder">Add</span></button>

</body>

<!-- scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>

</html>